# SageMaker Configuration
SAGEMAKER_ENDPOINT_NAME=movielens-endpoint-20260123-122948
AWS_REGION=us-east-1

# AWS Credentials (if not using IAM role)
# AWS_ACCESS_KEY_ID=your_access_key
# AWS_SECRET_ACCESS_KEY=your_secret_key
